.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
    height: 20px;
}

.progress {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: rgb(218, 218, 218);
}